{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header>
    <div>   
        <h1>News</h1>
        <p>Welcome to news section</p>
    </div>
</header>

<section>
    <div class="profile-card">
        <h1 class="title">{{ post.title }}</h1>
        {% if post.image %}
        <img src="{{ post.image.url }}" width="300px" height="200px">
        {% endif %}
        <p><strong>{{post.date}}</strong></p>
        
        {{ post.body }}
       
        <hr>
    </div>
</section>

{% endblock %}