{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header>
    <div>   
        <h1>Edit Profile</h1>
        <p>Edit your profile</p>
    </div>
</header>

<section class="d-flex justify-content-center align-items-center">
    <!-- Form Section-->
    <div class="profile-card">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-dark" type="submit">Save Changes</button>
            </div>
        </form>
    </div>
</section> 

{% endblock %}