{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header>
    <div>   
        <h1>Profile</h1>
        <p>Welcome to your Profile</p>
    </div>
</header>

<section class="d-flex justify-content-center align-items-center">
        <!-- Card -->
        <div class="profile-card">
            <div class="d-flex">
                <!-- Image -->
                <div class="photo-profile">
                    {% if profile.image %}
                    <img class="rounded-circle" width="150px" src="{{ profile.image.url }}">
                    {% endif %}
                </div>
                <!-- Information -->
                <div>
                    <div><h6>username:</h6> {{ profile.user.username }}</div>
                    <div><h6>First Name:</h6> {{ profile.first_name }}</div>
                    <div><h6>Last Name:</h6> {{ profile.last_name }}</div>
                    <div><h6>Email:</h6> {{ profile.email }}</div>
                    <div><h6>Phone Number:</h6></div>
                    <div><h6>Address Line 1:</div>
                    <div><h6>Address Line 2:</div>
                    <div><h6>Town or City:</div>
                    <div><h6>State/Region:</div>
                    <div><h6>Country:</div>
                    <div><h6>Postal Code:</div>                   
                </div>
            </div>
            <!-- Button -->
            <div class="d-flex justify-content-center">
                <a class="btn btn-outline-dark mt-4" href="{% url 'edit_profile' request.user.id %}">Edit profile</a></button>
            </div>
        </div>
</section> 

{% endblock %}