{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header>
    <div>   
        <h1>Register</h1>
        <p">Register to our website</p>
    </div>
</header>

<section class="register-section">
    <div class="profile-card">
            <form method="POST" action="/register/" class="register-form">
            {% csrf_token %}

                <!-- Name input-->
                <div>
                    <label for="name"><h6>Username:</h6></label>
                    <input class="form-control mt-2" id="username" name="username" type="text" placeholder="Enter your username" required />
                    
                    <div class="invalid-feedback" data-sb-feedback="name:required">A username is required.</div>
                </div>
              
                <!-- Password input-->
                <div class="py-2 mt-2">
                    <label for="password"><h6>Password:</h6></label>
                    <input class="form-control mt-2" id="password" name="password" type="password" placeholder="Enter your password" required/>
                    <div class="invalid-feedback" data-sb-feedback="password:required">A password is required.</div>
                </div>

                <!-- Password again input-->
                <div class="mt-2">
                    <label for="password2"><h6>Password (again):</h6></label>
                    <input class="form-control mt-2" type="password" id="password2" name="password2" placeholder="Repeat your password" required/>
                    <div class="invalid-feedback" data-sb-feedback="password:required">A password is required.</div>
                </div>
                
                <!-- Submit Button-->
                <button class="btn btn-outline-dark mt-4" id="submitButton" type="submit">Submit</button>
                <p >Do you already have an account?<a href="{% url 'sign_in' %}"><b class="text-decoration-underline">Sign in</b></a></p>
            </form>
            <br>
        </div>
</section>
{% endblock %}