/******** ELEMENTS *********/

body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}

h1, h6 {
    margin: 0;
}

h6{
    display: inline;
}

section {
    min-height: 61vh;
    background-color: #A2A7AA
}

/******** HEADER *********/

header {
    background-color: #212529;
    text-align: center;
    color: white;
    padding: 70px;
    margin-top: 93px
}

header p {
    color: #90928E;
}

/******** NAV BAR *********/

nav{
    background-color: #F8F9FA; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 13px;
}


.navbar-bot{
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.search-bar{
    width: 400px;
}

.nav-left{
    margin-right: 70px;
}

.nav-middle{
    flex-grow: 1;
    text-align: center;
}

.nav-right{
    display: flex;
    align-items: center;
}



/******** FOOTER *********/

footer {
    background-color: #212529;
    height: 160px;
    color: white;
}

footer p {
    margin: 0;
    text-align: left;
}

.footer-contact{
    display: flex;
    align-items: center;
    margin: 10px;
}

.footer-icon{
    margin-right: 20px;
}

.footer-left,
.footer-middle {
    width: 400px;
}

.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer-right {
    width: 440px;
}


/******** HOME *********/
.home-section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #A2A7AA;
    padding: 50px;
    align-items: center;
}

.home-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/******** OBJECTS *********/
.card {
    background-color: #ffff;
    width: 230px;
    height: 350px;
    padding: 30px;
    margin: 40px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.card img {
    width: 140px;
    height: 125px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/******** CART SUMMARY *********/

.img-summary{
    width: 300px;
    height: 200px;
}

.summary-card{
    display: flex;
    flex-direction: row;
    border:2px solid #212529;
}

.qty-select-container{
    display: flex;
    align-items: center;
}

.qty-select-container p, select, button {
    margin: 0; 
    margin-right: 10px;
}

/******** PRODUCT *********/
.product-img{
    height: 300px;
    width: 300px;
}

.product-info{
    padding: 20px;
    align-content: center;
}

.product-section{
    display: flex;
    justify-content: center;
}

.product-card{
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #ffff;
}

.comment-textarea {
    height: 50px;
    width: 500px;
}

/******** REGISTER *********/
.register-form{
    width: 500px;
    height: auto;
}

.register-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

/******** PROFILE VIEW *********/
.photo-profile{
    padding-right: 60px;
    display: flex;
    align-items: center;
}

.profile-info{
    padding: 20px;
}

.profile-card{
    padding: 30px 60px;
    background-color: #ffff;
    border-radius: 10px;
}

.cart-summ-img{
    width: 300px;
    height: 300px;
}

.card-news{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-news img {
    width: 200px;
    height: 200px;
}    
/*************************************************************/


