{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Header-->
<header>
    <div>   
        <h1>Edit Comment</h1>
        <p>Welcome To Music Store</p>
    </div>
</header>

<section class="d-flex justify-content-center align-items-center">
    
    <div class="profile-card">
        <form method="POST">
        {% csrf_token %}  
        {{ form.text }}
        <div>
            <button class="btn btn-outline-dark" type="submit">Save Changes</button>
            <a class="btn btn-outline-dark" href="{% url 'product' pk=comment.product.pk %}">Go back</a>
        </div>
    </div>
        
            
        
        </form>
        <br>
        
</section>
{% endblock %}