{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Header-->
<header>
    <div>   
        <h1>Shopping Cart</h1>
        <p>View Your Cart</p>
    </div>
</header>

<!-- Section-->
<section>
    <div class="profile-card">
        {% if cart_items %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Name</th>
                            <th>SKU</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <form action="{% url 'cart_delete' item.item_id %}" method="post">
                            {% csrf_token %}
                        {% for item in cart_items %}
                            <tr id="item-row-{{ item.item_id }}"> 
                                <!-- Product Image -->
                                <td>
                                    <img src="{{ item.product.image.url }}" width="100px" height="100px" alt="Product Image">
                                </td>
                                <!-- Product Name -->
                                <td>{{ item.product.name }}</td>
                                <!-- SKU -->
                                <td>{{ item.product.sku|upper }}</td>
                                <!-- Price -->
                                <td>{{ item.product.price }}</td>
                                <!-- Quantity -->
                                <td>
                                    <!--Update-->
                                    <a class="btn btn-success update-item-btn" id="update{{ item.item_id }}">Update</a>

                                    <!--Minus-->
                                    <button class="decrement-qty btn btn-black rounded-0" data-item_id="{{ item.product.id }}"
                                    id="decrement-qty_{{ item.product.id }}">
                                    <i class="fas fa-minus"></i>
                                    </button>
                                    
                                    <!-- Quantity-->
                                    <input class="qty_input id_qty_{{ item.product.id }}" type="number"
                                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                    data-item_id="{{ item.product.id }}">
                                    <!-- Plus -->
                                    <button class="increment-qty btn btn-black rounded-0" data-item_id="{{ item.product.id }}"
                                    id="increment-qty_{{ item.product.id }}">
                                    <i class="fas fa-plus"></i>
                                    </button>
                                    <!--Remove-->
                                    
                                        
                                        <a class="btn btn-danger remove-item-btn" data-item_id="{{ item.item_id }}">Remove</a>
                                    
                                </td>
                                <!-- Subtotal -->
                                <td>
                                    {{ item.quantity }}
                            
                                    
                                </td>
                                
                            </tr>
                        {% endfor %}
                    </form>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-end">
                <h6>Total Price: {{ total|floatformat:2 }}</h6>
            </div>
        {% else %}
            <p>Your cart is empty</p>
        {% endif %}

        <a href="{% url 'home' %}" class="btn btn-outline-dark">Keep Shopping</a>
        <a href="{% url 'home' %}" class="btn btn-outline-dark">Go to Checkout</a>
    </div>
</section>
{% endblock %}
