{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Header-->
<header>
    <div>   
        <h1>Shopping Cart</h1>
        <p>View Your Cart</p>
    </div>
</header>

<!-- Section-->
<section>
    <div class="profile-card">
    {% if cart_items %}                 
        {% for item in cart_items %}
            <div>
                <!-- Image-->
                <img src="{{ item.product.image.url }}" width="200px" height="200px">
                <!-- Name -->           
                {{ item.product.name }}
                <!-- SKU -->  
                SKU: {{ item.product.sku|upper }}
                <!-- Price -->  
                {{ item.product.price }}
                <!-- Quantity -->  
                {{ item.quantity }}
            </div>
        {% endfor %}
        <!-- Total Price -->
        <div>
            {{ total|floatformat:2 }}
        </div>
        <div>
        {% else %}
            <p>Your cart is empty</p>
        {% endif %}
        </div>
        <a href="{% url 'home' %}" class="btn-outline-dark">Keep Shopping</a>
    </div>
</section>

{% endblock %}


