{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header>
    <div>   
        <h1>About us</h1>
        <p>Welcome To Music Store</p>
    </div>
</header>

<section class="d-flex justify-content-center align-items-center">
    <div class="profile-card text-justify">
                    Welcome to Music Store, your online destination for all things music. At Music Store, we believe that music is more than just sound; it's an expression, a passion, a way of life. Founded in 1991, we take pride in offering musicians and music enthusiasts an exceptional shopping experience, where quality, variety, and outstanding service converge.
<br>
<br>
At the core of Music Sotre beats the passion for music. We are a team of musicians and enthusiasts who understand the importance of finding the right instruments and accessories to enhance your creativity. Whether you're an enthusiastic beginner or a seasoned musician, we are committed to providing you with high-quality products that inspire and elevate your musical experience.
We only offer products that meet our rigorous quality standards. From musical instruments to accessories, each item in our catalog has been carefully selected to ensure durability, performance, and sonic excellence. We partner with renowned brands and trusted manufacturers to bring you the best of the best.
<br>
<br>
We know that music spans diverse genres and styles. That's why our extensive catalog includes a wide range of musical instruments, CDs, vinyl, strings, and accessories to cater to all preferences and skill levels. From guitars and keyboards to vintage vinyl and the latest in musical technology.
<br>
<br>
At Music Store, we value every customer as part of our musical community. Our customer service team is here to assist you at every step, providing expert guidance and answering all your questions. Your satisfaction is our priority, and we strive to exceed your expectations with every purchase.
<br>
<br>
Discover the difference that Music Store makes. Join us on the musical journey and make every note count.
<br>
<br>
Thank you for choosing us as your preferred musical destination!
    </div>
</section>

{% endblock %}