{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header>
    <div>   
        <h1>Blog</h1>
        <p>Welcome To Music Store</p>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis eros dignissim ullamcorper
                    aliquam. Vivamus id sem eget sem sollicitudin tincidunt. Sed mollis porttitor odio vel fermentum.
                    Donec aliquet in libero eu placerat. Praesent imperdiet libero sapien, varius suscipit nulla ullamcorper vitae. 
                    Donec rutrum porta leo, ac volutpat quam mollis eget. Suspendisse nulla nibh, fermentum id semper et, 
                    rhoncus ut justo. In eu ipsum tempus, lobortis diam id, auctor erat. Nullam ac consequat est. Aenean leo
                    tellus, maximus eget magna vitae, tempor scelerisque augue.
                    <br><br>
                    Morbi vestibulum neque sit amet mi suscipit, nec ultricies ligula pulvinar. Maecenas tincidunt rutrum mauris
                    sit amet sagittis. Pellentesque et metus nulla. Quisque hendrerit ullamcorper vehicula. Fusce rhoncus
                    efficitur eleifend. Cras sed erat iaculis, lobortis libero vel, venenatis mauris. Donec vel leo tristique,
                    tempus dui quis, posuere augue. Curabitur finibus felis sit amet placerat tincidunt. Maecenas at ligula in
                    nunc lobortis tincidunt. Mauris molestie quis diam et interdum. Donec consequat vestibulum justo
                    ullamcorper ornare.
                    <br><br>
                    In fringilla purus purus. Vestibulum viverra dui quis consectetur ultricies. In hac habitasse platea dictumst. 
                    Quisque suscipit iaculis velit eu gravida. Aenean sit amet iaculis elit. Nullam in risus sed massa finibus 
                    malesuada. Mauris tincidunt diam sed commodo imperdiet. Phasellus nunc nisl, dapibus vitae hendrerit non, 
                    tempus vel arcu. Cras elementum vitae eros ut dapibus. Quisque rutrum purus suscipit diam tincidunt, sed 
                    dignissim nisi dignissim. Nullam diam massa, maximus in tempus sit amet, maximus a nisl. Quisque tristique 
                    pharetra nibh. Nunc massa sapien, ultricies in augue in, efficitur pulvinar quam. Aenean in lorem elit. 
                    Pellentesque eget lectus sit amet lacus euismod pretium. Sed vitae dolor mattis, aliquet neque sed, gravida ante.
                    <br><br>
                </p>
            </div>
        </center>
    </div>
</div>
{% endblock %}