{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header>
    <div>   
        <h1>Careers</h1>
        <p>Welcome To Music Store</p>
    </div>
</header>

<section class="d-flex justify-content-center align-items-center">
    <div class="profile-card mt-4 mb-4">
        <div class="d-flex">
            <form method="post" action="{% url 'careers' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-dark">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}