<!-- Footer-->
<footer>
    <!-- Top Footer -->
    
        <div class="d-flex justify-content-around align-items-center">
            <!-- Left -->
            <div class="footer-left">
                <div class="footer-contact">
                    <i class="fa-solid fa-location-dot footer-icon"></i>
                    <p>197 Leopardi Street, Dublin, Ireland</p>
                </div>
                <div class="footer-contact">
                    <i class="fa-solid fa-phone footer-icon"></i>
                    <p>+353 83 492 2744</p>
                </div>

                <div class="footer-contact">
                    <i class="fa-regular fa-paper-plane footer-icon"></i>
                    <p>musicstoredublin@gmail.com</p>
                </div>
            </div>

            <!-- Middle -->
            <div class="footer-middle text-center">
                <h6>Social Media</h6>
                <div class="mt-2">
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button" target="_blank">
                        <i class="fab fa-fw fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/" role="button" target="_blank">
                        <i class="fab fa-fw fa-twitter"></i>
                    </a>
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/" role="button" target="_blank">
                        <i class="fab fa-fw fa-linkedin-in"></i>
                    </a>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <p class="m-0 text-white text-opacity-75">© 2024 copyright by Juan Santostefano</p>
                </div>
            </div>

            <!-- Right -->
            <div class="footer-right mt-3 mb-2">
                <h6 class="text-white">Subscribe to our newsletter and get 15% off your next order.</h6>
                <form class="d-flex flex-row mb-2 p-1 bg-white" method="post" action="{% url 'home' %}">
                    {% csrf_token %}
                    <input type="email" name="email" class="form-control rounded border-0" placeholder="Your Email">
                    <button class="btn btn-secondary flex-shrink-0" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
</footer>
